
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="events.html">Husky Neighborhood</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./events.html">Events
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./organization.html">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./login.html">Log out</a>
                </li>
                <!-- <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li> -->
            </ul>
        </div>
    </div>
</nav>


<div class="container post-event-container" id="body">
  <form #postEventForm="ngForm" >
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">

                <div class="col-xs-6">
                    <label for="first_name">
                        <h4>Event Name</h4>
                    </label>
                    <input type="text" class="form-control" name="event_name" [(ngModel)]="event_name"  id="event_name"
                        placeholder="event name" title="enter the name of the event.">
                </div>
            </div>
            <div class="form-group">

                <div class="col-xs-6">
                    <label for="last_name">
                        <h4>Event Description</h4>
                    </label>
                    <textarea class="form-control" placeholder="description"  name="event_description" [(ngModel)]="event_description" ></textarea>
                </div>
            </div>
            <div class="form-group">

                <div class="col-xs-6">
                    <label for="email">
                        <h4>Location</h4>
                    </label>
                    <input type="email" class="form-control" name="event_location" [(ngModel)]="event_location" id="location" placeholder="somewhere"
                        title="enter a location">
                </div>
            </div>
            <div class="col-xs-6">

                    <h4>Tags</h4>

                    <ul class="list-unstyled ">
                      <li class="btn badge badge-success"> Free food </li>
                      <hr/>
                       <li class="btn badge badge-dark"> Books </li>
                       <li class="btn badge badge-dark"> Social </li>
                       <li class="btn badge badge-dark"> Educational </li>
                       <li class="btn badge badge-dark"> Art </li>
                       <li class="btn badge badge-dark"> Writing </li>
                       <li class="btn badge badge-dark"> Job Opportunity </li>

                    </ul>
            </div>
        </div>

        <div class="col-md-6">

          <div class="col-xs-6">
                <div class="form-group">
                  <label for="photo" >
                      <h4>Upload Photo</h4>
                  </label>
                  <input type="file" onchange="imagePreview(this);" class="form-control btn" name="img-upload"
                      id="img-upload">

              </div>
          </div>
          <div class="form-group">

              <div class="col-xs-6">
                  <img style="width:50%" src="" id="img-preview">
              </div>
          </div>
          <div class="form-group">

              <div class="col-xs-6">
                  <label for="password">
                      <h4>Date</h4>
                  </label>
                  <div class="row">
                      <div class="col">
                          Starts <input type="date" class="form-control" name="start_date"
                              [(ngModel)]="start_date"
                              id="start-date"
                              title="enter start date.">

                      </div>
                      <div class="col">
                          Ends <input type="date" class="form-control" name="end_date"
                              [(ngModel)]="end_date"
                              id="end-date"
                              title="enter end date">
                      </div>
                  </div>

              </div>
          </div>
          <div class="form-group">

              <div class="col-xs-6">
                  <label for="password">
                      <h4>Time</h4>
                  </label>
                  <div class="row">
                      <div class="col">
                          Starts <input type="time" class="form-control"
                              name="start_time"
                              [(ngModel)]="start_time"
                              id="start-time"
                              title="enter start time.">

                      </div>
                      <div class="col">
                          Ends <input type="time" class="form-control"
                              name="end_time"
                              [(ngModel)]="end_time"
                              id="end-time"
                              title="enter end time.">
                      </div>
                  </div>

              </div>
          </div>
          <br/>
          <div class="col-xs-12">
              <button id="postEvent" type="submit" class="btn btn-lg btn-success" (click)="postEvent()" > Post</button>
              <button id="resetEvent" type="submit" class="btn btn-lg btn-danger" (click)="resetEvent()"> Reset</button>
          </div>

        </div>
      </div>
  </form>
</div>
