
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <img src="assets/paws.png" width="40px" style="border-radius: 20%; margin-right : 20px">
    <a class="navbar-brand" routerLink="home">Husky Neighborhood</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="../home">Events
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="../profile">Profile<span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li> -->
      </ul>

      <button class="btn btn-danger"  (click) = "logout()">Log out</button>

    </div>
  </div>
</nav>


<div class="container emp-profile">

  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong> NB: </strong>   We will help you to find events faster if you tell us about your interests!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="./assets/student.jpg" alt=""/>
          <div *ngIf="edit" class="file btn btn-lg btn-primary" (click)="editp()">
            Change Photo
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h4>
            {{user.username}}
          </h4>
          <h5>
            Senior BSCS at NEU
          </h5>

          <p *ngIf="!edit" class="proile-rating"> <strong> Facebook: <a href="{{user.facebook}}"> {{user.facebook || "None"}}   </a> </strong></p>
          <p *ngIf="edit" class="proile-rating"> <strong> Facebook: <input type="text" class="form-control"  placeholder="Your Facebook Url">
          </strong></p>


          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
            </li>

          </ul>
        </div>
      </div>
      <div *ngIf="!edit" class="col-md-2">
        <a  routerLink="../profile" class="btn profile-edit-btn" (click)="switchMode()">
          <i class="far fa-edit" ></i> Edit Profile </a>
      </div>
      <div *ngIf="edit" class="col-md-2">
        <a  routerLink="../profile" class="btn profile-save-btn" (click)="switchMode()">
          <i class="far fa-save" ></i> Save Profile </a>
        <a  routerLink="../profile" class="btn profile-cancel-btn" (click)="switchMode()">
          <i class="fa fa-times" ></i> Cancel Changes </a>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <!-- <a href="./organization.html" class="btn btn-block btn-primary text-white"> Manage organization </a> -->


          <p>INTERESTS</p>

          <div class="alert alert-warning" role="alert">
            Please press 'Edit Profile' button on the top right corner and add some interests.
          </div>


          <div *ngIf="!edit">
            <ul class="list-unstyled mb-0" >
              <li class="btn badge badge-light" *ngFor="let tag of stags"> {{tag}} </li>
            </ul>
          </div>

          <div *ngIf="edit">
            <ul class="list-unstyled mb-0" >
              <li class="btn badge badge-light" *ngFor="let tag of stags"(click)="to_dtags(tag)"> {{tag}} </li>
            </ul>
            <hr/>

            <ul class="list-unstyled mb-0" >
              <li class="btn badge badge-dark text-white" *ngFor="let tag of dtags" (click)="to_stags(tag)"> {{tag}} </li>
            </ul>
          </div>






        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="row">
              <div class="col-md-3">
                <label>Name</label>
              </div>
              <div class="col-md-9">
                <p *ngIf="!edit">{{user.name || "None" }}</p>
                <div *ngIf="edit" class="form-group">
                <input type="text" class="form-control" placeholder="David Sprague">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Email</label>
              </div>
              <div class="col-md-9">
                <p *ngIf="!edit" >{{user.email || "None" }}</p>
                <div *ngIf="edit" class="form-group">
                <input type="text" class="form-control" placeholder="{{user.username}}@husky.neu.edu">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Phone</label>
              </div>
              <div class="col-md-9">
                <p *ngIf="!edit">{{user.phone || "None"}}</p>
                <div class="form-group" *ngIf="edit">
                <input type="text" class="form-control" placeholder="123 456 7890">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Specialization</label>
              </div>
              <div class="col-md-9">
                <p *ngIf="!edit">{{user.specialization || "None"}}</p>
                <div *ngIf="edit" class="form-group">
                <input  class="form-control" placeholder="Web Development and Design">
                </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Bio</label>
              </div>
              <div class="col-md-9">
                <p *ngIf="!edit">
                    {{user.bio || "None"}}
                </p>
                <div *ngIf="edit" class="form-group">
                <textarea cols="66" rows="5" type="text"  placeholder="  I am your next best friend"></textarea>
                </div>

              </div>
            </div>
            <br/>
            <br/>
            <div class="row" *ngIf="edit">
              <div class="col-md-3">
                <label>Password</label>
              </div>
              <div class="col-md-9">
                <div  class="form-group">
                  <input  class="form-control"placeholder="{{user.password}}">
                </div>
              </div>
            </div>

            <div class="row" *ngIf="edit">
              <div class="col-md-3">
                <label>Verify Password</label>
              </div>
              <div class="col-md-9">
                <div  class="form-group">
                  <input  class="form-control" placeholder="{{user.password}}">
                </div>
              </div>
            </div>


          </div>
          <br/>
        </div>
      </div>
    </div>
</form>
  <div class="bookmarked" *ngIf="!edit">
    <ul class="nav nav-tabs" id="eventsTab" role="tablist">
      <li class="nav-item">
        <a (click)="setbookmarked()" class="nav-link active"  data-toggle="tab" role="tab"
           aria-controls="home" aria-selected="true"> <i class="text-warning fa fa-bookmark "></i>  Recently Bookmarked Events</a>
      </li>
      <li class="nav-item">
        <a (click)="setregistered()" class="nav-link" data-toggle="tab" role="tab"
           aria-controls="home" aria-selected="true"> <i class="text-success fas fa-clipboard-check"></i>  Recently Registered Events</a>
      </li>
    </ul>
    <br />
    <div *ngFor="let event of events">
      <div>
        <div class="row">
          <div class="card-header border-0 col-3">
            <img class="img-fluid" src={{event.event.image_path}} alt="event image">
            <!--<p><strong>Location: </strong> {{event.event.venue}}</p>-->
          </div>

          <div class="card-body col-9">
            <h5 class="card-title">{{event.event.title}}</h5>
            <p class="card-text">{{event.event.description.substring(0,200)}}...</p>
            <a routerLink="../event/{{event.event._id}}" class="btn-block btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">@Husky Neighborhood 2019</p>
  </div>
  <!-- /.container -->
</footer>




