
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <img src="assets/paws.png" width="40px" style="border-radius: 20%; margin-right : 20px">
    <a class="navbar-brand" routerLink="home">Husky Neighborhood</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="../home">Events
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="../profile">Profile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../login">Log out</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="./assets/student.jpg" alt=""/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h4>
            Anna Marta
          </h4>
          <h5>
            Senior BSCS at NEU
          </h5>

          <p class="proile-rating">Status: <span> test user </span></p>


          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <a routerLink="../profile" class="btn profile-edit-btn">
          <i class="far fa-edit"></i> Edit Profile </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <!-- <a href="./organization.html" class="btn btn-block btn-primary text-white"> Manage organization </a> -->


          <p>INTERESTS</p>
          <ul class="list-unstyled mb-0">
            <li class="btn badge badge-light"> Web Design </li>
            <li class="btn badge badge-light"> Games </li>
            <li class="btn badge badge-light"> Books </li>
            <li class="btn badge badge-light"> Sci-fi </li>
            <li class="btn badge badge-light"> Cinema </li>
            <li class="btn badge badge-light"> Craft </li>

          </ul>





        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="row">
              <div class="col-md-3">
                <label>Name</label>
              </div>
              <div class="col-md-9">
                <p>Kshiti Ghelani</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Email</label>
              </div>
              <div class="col-md-9">
                <p>kshitighelani@gmail.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Phone</label>
              </div>
              <div class="col-md-9">
                <p>123 456 7890</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Profession</label>
              </div>
              <div class="col-md-9">
                <p>Web Developer and Designer</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Bio</label>
              </div>
              <div class="col-md-9">
                <p>
                  Lorem ipsum dolor sit amet, vim nostrud vocibus interesset ne.
                  Possim ullamcorper necessitatibus vel ne, per cu harum tempor.
                  Mea legere utamur habemus cu, quaeque mediocritatem no usu.
                  Id vim minim adipisci concludaturque, has magna atomorum dissentias ea,
                  no pri impetus meliore. Mea suas partem ocurreret ei, eam ut viderer fabulas. Ludus constituto sed id.
                </p>
              </div>
            </div>


          </div>
          <br/>



          <div class="bookmarked">
            <ul class="nav nav-tabs" id="eventsTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active"  data-toggle="tab" role="tab"
                   aria-controls="home" aria-selected="true"> <i class="text-warning fa fa-bookmark "></i>  Recently Bookmarked Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab"
                   aria-controls="home" aria-selected="true"> <i class="text-success fas fa-clipboard-check"></i>  Recently Registered for Events</a>
              </li>
            </ul>
            <br />
            <div class="card w-41 flex-row">
              <div class="card-header border-0">
                <img class="img-fluid" src="assets/book-love.jpeg" alt="img">
              </div>

              <div class="card-body">
                <h5 class="card-title">Blind Date with a Book</h5>
                <p class="card-text">Don't judge a book by its cover. Put your trust in fate and buy a book
                  without knowing the title, maybe you will fall in love!</p>
                <a routerLink="../event" class="btn-block btn btn-primary">View</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
</form>
</div>
