<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="events.html">Husky Neighborhood</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="./events.html">Events
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Profile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Log out</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h4>
            Anna Marta
          </h4>
          <h5>
            Senior BSCS at NEU
          </h5>

          <p class="proile-rating">Status: <span> Organizator </span></p>


          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <a href="./profile-edit.html" class="btn profile-edit-btn"> Edit Profile </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <a href="./organization.html" class="btn btn-block btn-primary text-white"> Manage organization </a>


          <hr/>
          <p>INTERESTS</p>
          <a href="">Web Design</a><br/>
          <a href="">Games</a><br/>
          <a href="">Art</a><br/>





        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p>Kshiti Ghelani</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>kshitighelani@gmail.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>123 456 7890</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Profession</label>
              </div>
              <div class="col-md-6">
                <p>Web Developer and Designer</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Bio</label>
              </div>
              <div class="col-md-6">
                <p>Detailed description</p>
              </div>
            </div>


          </div>
          <br/>



          <div>
            <ul class="nav nav-tabs" id="eventsTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="events-tab" data-toggle="tab" href="#home" role="tab"
                   aria-controls="home" aria-selected="true">Recently Bookmarked Events</a>
              </li>
            </ul>
            <br />
            <div class="card w-41 flex-row">
              <div class="card-header border-0">
                <img class="img-fluid" src="../assets/book-love.jpeg" alt="img">
              </div>

              <div class="card-body col-md-8">
                <h5 class="card-title">Blind Date with a Book</h5>
                <p class="card-text">Don't judge a book by its cover. Put your trust in fate and buy a book
                  without knowing the title, maybe you will fall in love!</p>
                <a href="./event.html" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>




        </div>




      </div>
    </div>
</form>
</div>
