

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <img src="assets/paws.png" width="40px" style="border-radius: 20%; margin-right : 20px">
    <a class="navbar-brand" routerLink="../home">Husky Neighborhood</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="../home">Events
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="../organization">Profile<span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <button class="btn btn-danger"  (click) = "logout()">Log out</button>

    </div>
  </div>
</nav>

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="assets/Organization.png" alt="" />
          <!--<div class="file btn btn-lg btn-primary">-->
            <!--Change Photo-->
            <!--<input type="file" name="file" />-->
          <!--</div>-->

        </div>
        <br/>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h3>
            {{user.username}}
          </h3>
          <h6 class="text-secondary" *ngIf="!edit">
            <strong>
            {{user.specialization}}
            </strong>
          </h6>
          <div *ngIf="edit" class="form-group">
            <input type="text" class="form-control"  name="specialization" [(ngModel)]="user.specialization" placeholder="Organization specialization">
          </div>

          <br/>
          <br/>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab"
                 aria-controls="home" aria-selected="true">About</a>
            </li>

          </ul>
        </div>
      </div>
      <div *ngIf="!edit" class="col-md-2">
        <a  routerLink="../organization" class="btn profile-edit-btn" (click)="switchMode()">
          <i class="far fa-edit" ></i> Edit Profile </a>
      </div>
      <div *ngIf="edit" class="col-md-2">
        <a  routerLink="../organization" class="btn profile-save-btn" (click)="update()">
          <i class="far fa-save" ></i> Save Profile </a>
        <a  routerLink="../organization" class="btn profile-cancel-btn" (click)="switchMode()">
          <i class="fa fa-times" ></i> Cancel Changes </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <div style="word-break: break-all; word-wrap: break-word;">
            <p>WEBSITE</p>
            <div *ngIf="!edit" ><a
              href="{{user.facebook}}">{{user.facebook}}</a>
            </div>
            <div *ngIf="edit" class="form-group">
              <input type="text" class="form-control" placeholder="NEUFictionAddiction" name="facebook" [(ngModel)]="user.facebook">
            </div>
            <br />
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="row">
              <div class="col-md-3">
                <label>Organization Name</label>
              </div>
              <div class="col-md-9">
                <p class="text-info" *ngIf="!edit">{{user.name}}</p>
                <div *ngIf="edit" class="form-group">
                  <input type="text" class="form-control"  name="userName" [(ngModel)]="user.name" placeholder="Organization name">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label>Description</label>
              </div>
              <div class="col-md-9">
                <p *ngIf="!edit" class="text-info">{{user.bio}}</p>
                <div *ngIf="edit" class="form-group">
                  <textarea cols="65" rows="5" type="text"  placeholder="Organization Description" name="bio" [(ngModel)]="user.bio"></textarea>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-3">
                <label>Email</label>
              </div>
              <div class="col-md-9">
                <p class="text-info" *ngIf="!edit">{{user.email}}</p>
                <div *ngIf="edit" class="form-group">
                  <input type="text" class="form-control"  name="email" [(ngModel)]="user.email" placeholder="NEUFictionAddiction@gmail.com">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Phone</label>
              </div>
              <div class="col-md-9">
                <p class="text-info" *ngIf="!edit">{{user.phone}}</p>
                <div *ngIf="edit" class="form-group">
                  <input type="text" class="form-control" name="phone" [(ngModel)]="user.phone" placeholder="123 456 7890">
                </div>
              </div>
            </div>
            <div class="row" *ngIf="edit">
              <div class="col-md-3">
                <label>Password</label>
              </div>
              <div class="col-md-9">
                <div  class="form-group">
                  <input  class="form-control" name="password" placeholder="qwerty123" [(ngModel)]="user.password" >
                </div>
              </div>
            </div>

            <div class="row" *ngIf="edit">
              <div class="col-md-3">
                <label>Verify Password</label>
              </div>
              <div class="col-md-9">
                <div  class="form-group">
                  <input  class="form-control" name="vpassword" placeholder="qwerty123" [(ngModel)]="user.password">
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
    <div *ngIf="!edit" class="col-md-5 float-right mr-0">
      <a routerLink="/event-edit" class="btn btn-success float-right"> <i class="fas fa-plus"></i> Post New Event </a>
    </div>
    <div *ngIf="!edit" class="events">
    <ul class="nav nav-tabs" id="eventsTab" role="tablist">
      <li class="nav-item">
        <a (click)="new_events()" class="nav-link active" data-toggle="tab" role="tab"
           aria-controls="home" aria-selected="true"><i class="text-success fas fa-clipboard"></i> Upcoming Events </a>
      </li>
      <li class="nav-item">
        <a (click)="old_events()" class="nav-link" data-toggle="tab" role="tab"
           aria-controls="home" aria-selected="true"> <i class="text-danger fas fa-clipboard-check"></i> Past Events</a>
      </li>
    </ul>
    <div class="card w-41 flex-row" *ngFor="let event of upcomingEvents">
      <div class="card-header border-0">
        <img class="img-fluid" src="{{event.image_path}}" alt="img">
      </div>
      <div class="card-body col-md-8">
        <h5 class="card-title">{{event.title}}</h5>
        <p class="card-text" *ngIf="event.description != undefined">{{event.description.substring(0,200)}}...</p>
        <div class="row">

          <span class="col-md-9"><a routerLink="../event/{{event._id}}" class="btn-block btn btn-primary ">View</a>
        </span>
          <span class="btn-group col-md-3">
        <a routerLink="../event-edit/{{event._id}}" class="btn btn-secondary">Edit</a>
        <button type="button" (click) ="confirmDelete(event)" class="btn btn-danger">Delete </button>
        </span>
        </div>

      </div>
    </div>
    </div>
  </form>
</div>
<button (click)="topFunction()" id="myBtn" title="Go to top">Top ↑</button>
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">@Husky Neighborhood 2019</p>
  </div>
  <!-- /.container -->
</footer>

