<!-- Navigation -->
<script src="../event/event.component.spec.ts"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <img src="./assets/paws.png" width="40px" style="border-radius: 20%; margin-right : 20px">
    <a class="navbar-brand" routerLink="../home">Husky Neighborhood</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="../home">Events
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../profile">Profile</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li> -->
      </ul>
      <!--<li class="nav-item my-2 my-lg-0">-->
        <button class="btn btn-danger"  (click) = "logout()">Log out</button>
      <!--</li>-->
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container" style="padding-top: 56px;">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <br/>
      <div class="d-flex justify-content-end">
        <div class="btn-group">
          <button type="button" (click)="alle()" class="btn btn-secondary btn-filter">All</button>
          <button type="button" (click)="alle()" class="btn btn-default btn-filter">Relevant</button>
          <button type="button" (click)="alle()" class="btn btn-default btn-filter">Upcoming</button>
        </div>
      </div>
      <br/>


      <div class="card mb-4" *ngFor="let event of events">

        <img class="card-img-top" src="./assets/book.jpg"  width="100px" alt="Card image cap">

        <div class="card-img-overlay">
          <span class="badge badge-primary"> Free food </span>
          <span class="badge badge-secondary"> Books </span>
          <span class="badge badge-success"> Social </span>
          <span class="badge badge-danger"> Educational </span>
          <span class="badge badge-warning"> Art </span>
          <span class="badge badge-info"> Writing </span>
          <span class="badge badge-light"> Job Opportunity </span>
          <span class="badge badge-dark"> Etc </span>
        </div>
        <div class="card-img-overlay" style="padding:0px;">
          <div class="float-right hidden-md-up rounded" style="background-color: rgb(240, 241, 242)">
            <div class="text-center">
              <i
                [ngClass]="event.isBookmarked ? 'btn text-warning fa fa-bookmark fa-2x' : 'btn text-warning far fa-bookmark fa-2x'"
                (click)="bookmark(event)"></i>
              <!-- <i *ngSwitchCase="false" (click)="bookmark()" class="btn text-warning far fa-bookmark fa-2x"></i> -->
            </div>
            <div class="text-center">
              <i class="btn text-danger far fa-heart fa-2x"></i>
              <!-- <i *ngSwitchCase="false" (click)="like()" class="btn text-danger far fa-heart fa-2x"></i> -->
            </div>
          </div>
        </div>
        <div class="card card-body">

          <h2 class="card-title">{{event.title}}</h2>
          <p class="card-text">{{event.description}}</p>
          <div>
            <button type="button" class=" btn-block btn btn-primary" (click)="viewEvent(event._id)">Read More &rarr;</button>
          </div>
        </div>

        <div class="card card-footer text-muted">
          Posted on {{event.last_upd_date | date:'medium'}} by
          <a href="./organization.html">Fiction Addiction Book Club</a>
        </div>
      </div>

      <!-- Blog Post -->


    </div>

    <div class="col-md-4">
      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search by Title</h5>
        <div class="card-body">

          <div class="input-group">
            <input  [(ngModel)]="this.word" type="text" class="form-control" placeholder="Input the word to search">
            <span class="input-group-btn">
                <button (click)="search()" class="btn btn-secondary" type="button">Go</button>
              </span>
          </div>
        </div>

      </div>

      <div class="card my-4">
        <h5 class="card-header">Search by Date</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="date" class="form-control" name="date" id="date"
                   title="enter date" disabled>
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" disabled>Go</button>
              </span>
          </div>


        </div>

      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search by Tags</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" disabled>
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" disabled>Go</button>
              </span>
          </div>
          <br/>

          <div class="row">
            <div class="col-lg-12">
              <ul class="list-unstyled mb-0">
                <li class="btn badge badge-success"> Free food </li>
                <hr/>
                <li class="btn badge badge-dark"> Books </li>
                <li class="btn badge badge-dark"> Social </li>
                <li class="btn badge badge-dark"> Educational </li>
                <li class="btn badge badge-dark"> Art </li>
                <li class="btn badge badge-dark"> Writing </li>
                <li class="btn badge badge-dark"> Job Opportunity </li>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Help (temporary)</h5>
        <div class="card-body">
          This is the page to search events
        </div>
      </div>


    </div>





  </div>
  <!-- /.row -->

</div>

<button (click)="topFunction()" id="myBtn" title="Go to top">Top ↑</button>

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">@Husky Neighborhood 2019</p>
  </div>
  <!-- /.container -->
</footer>




