<div class="sidenav">
  <div class="login-main-text">
    <h2 style="color: #df0007;"><strong>Husky Neighborhood</strong><br></h2>
    <p>Search and register for on-campus events!</p>
    <br/>

    <img src="assets/paw2.jpg" width="150px" style="border-radius: 50%;">
    <p style="margin-top: 300px"> To register new organizations please contact our administration at <strong>kryvtsun.t@husky.neu.edu</strong></p>


  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">

        <div>

            <div *ngIf="usernameError">
              <p>Username unavailable. Please try another one.</p>
            </div>
            <div *ngIf="noUsernameError">
              <p> Please enter a username. </p>
            </div>
            <div *ngIf="noPasswordError">
              <p> Please enter a password. </p>
            </div>
            <div *ngIf="noPassword2Error">
                <p> Please reconfirm your password. </p>
              </div>
              <div *ngIf="passwordError">
                  <p> Passwords do not match. </p>
                </div>
          </div>

      <form #regform="ngForm" (ngSubmit)="register(regform)" >
        <div class="form-group">
          <label>Husky UserName</label>
          <input type="text" class="form-control" placeholder="Husky UserName" name ="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" name ="password"  [(ngModel)]="password" required>
        </div>
        <div class="form-group">
          <label>Verify Password</label>
          <input type="password" class="form-control" placeholder="Verify Password" name ="password2" [(ngModel)]="password2" required>
        </div>
        <span>
          <button type="submit" class="btn btn-black" (click) ="register()">Register </button>
          <a style="margin-left: 20px;" routerLink="../login"> Login </a>
        </span>
      </form>

    </div>
  </div>
</div>
